body{

   
    /* background-image: url('C:\Personal\PG-DAC\Project\Project_FE\StudentPortal1\StudentPortal1\public\image\p.jpeg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    opacity : 0.9;
    
}