body{
    background-image: url('C:\Users\Admin\Desktop\DAC_Project\Cdac-Project\Project-Front-End\ProjectFinal1\src\t.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    opacity: 0.9;
}